  <section class="features">
    <div class="container">
        <div class="head">
            <h1>Key Features</h1>
        </div>
        <div class="feature">
            <div class="col">
                <div class="card cyan">
                    <h2>Easy Booking</h2>
                    <p>Book services directly through our platform.</p>
                    <mat-icon>schedule</mat-icon>
                    <!-- <img src="" alt=""> -->
                </div>
            </div>
            <div class="col">
                <div class="card blue">
                    <h2>Verified User</h2>
                    <p>Book services directly through our platform.</p>
                    <mat-icon>verified_user</mat-icon>
                    <!-- <img src="" alt=""> -->
                </div>
            </div>
            <div class="col">
                <div class="card green">
                    <h2>Secure Payments</h2>
                    <p>Book services directly through our platform.</p>
                    <mat-icon>security</mat-icon>
                    <!-- <img src="" alt=""> -->
                </div>
            </div>
            <div class="col">
                <div class="card red">
                    <h2>Comprehensive Management</h2>
                    <p>Book services directly through our platform.</p>
                    <mat-icon>assignment</mat-icon>
                    <!-- <img src="" alt=""> -->
                </div>
            </div>
        </div>
    </div>
  </section>